:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ffffff;
  --primary-hover: #cccccc;
  --secondary: #888888;
  --border: #444444;
  --radius: 0.375rem;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  --hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.06);
}

body {
  width: 400px;
  padding: 16px;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: var(--radius); /* Add border-radius to the body */
  box-shadow: var(--shadow); /* Add shadow to the body */
}

h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

input, button {
  padding: 8px 12px;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  font-size: 0.875rem;
  box-shadow: var(--shadow);
}

input {
  background-color: #333333;
  color: var(--foreground);
}

button {
  background-color: var(--primary);
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 14px; 
  font-weight: bolder;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover);
  box-shadow: var(--hover-shadow);
}

#commandList {
  margin-top: 16px;
}

.category-item {
  margin-bottom: 16px;
}

.category-header {
  background-color: var(--foreground);
  color: #000000;
  padding: 8px 12px;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  font-size: 14px; 
  font-weight: bolder;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.category-header:hover {
  background-color: #cccccc;
  box-shadow: var(--hover-shadow);
}

.category-commands {
  display: none;
  padding-left: 16px;
  margin-top: 8px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.command-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  padding: 8px 12px;
  background-color: #333333;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-size: 14px; 
  font-weight: lighter;
}

.copy-button {
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  padding: 4px 8px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.copy-button:hover {
  background-color: var(--primary-hover);
  color: #000000;
}

.toggle-icon {
  transition: transform 0.3s ease;
}

.toggle-icon.open {
  transform: rotate(180deg);
}
